extends layouts/_main

block variables
    //- put your vars here
    - var pageTitle= 'HTML5 Regular Template'

block content
    main.main
        h1 Lets have a fun!


block scripts
    script(src="scripts/scripts.min.js")