@import "utilities/utilities", "base/base", "global/global";

h1 {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 44px;
  background: #000000;
  transform: matrix3d();
  cursor: pointer;
}
